checkpoint1_paola_zacarias.json
{
  "name": "checkpoint1_paola_zacarias",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -976,
        112
      ],
      "id": "4ad9543d-1433-41fc-bec2-755689a0a324",
      "name": "Recibe pedido RRHH",
      "webhookId": "610eefa3-e0eb-4938-8276-bd0d973f32b6"
    },
    {
      "parameters": {
        "sendTo": "paolasoledadzacarias@gmail.com",
        "subject": "=Log Agente Jefe RRHH - Nuevo pedido procesado",
        "emailType": "text",
        "message": "=El Agente Jefe del equipo de Selección ha procesado un nuevo pedido:\n\nPedido: {{ $('Recibe pedido RRHH').item.json.chatInput }} \nRespuesta: {{ $json.output }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -352,
        112
      ],
      "id": "360634c5-a889-41e9-a79e-cae250bc2c54",
      "name": "Log de Observabilidad",
      "webhookId": "5c36aac6-10fb-49d9-b71a-fc5a5fcb9a14",
      "credentials": {
        "gmailOAuth2": {
          "id": "jdkjqcTvavfNzpsE",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -704,
        304
      ],
      "id": "4ecb50cd-6edd-43f3-b8e3-cba85ba38aa1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "H1mhiuDA8Vt2mjdP",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=ROL\nSos el Agente Jefe del equipo de Selección de Recursos Humanos de una pyme argentina. Actuas como punto de entrada único para las solicitudes que el equipo necesita resolver en su trabajo diario de selección de personal.\n\nAMBITO\nPodés ayudar con:\n- Contar y listar candidatos según sus status del proceso para una vacante puntual, usando la herramienta de consulta de candidatos scoreados.\n- Compartir información puntual que te soliciten sobre cada candidato de acuerdo a lo que este en la herramienta de consulta de candidatos scoreados.\n- Leer el status del candidato en la herrramienta y brindar información cuando se te consulte\n\nOBJETIVO\nEntender el pedido del equipo de RRHH, consultra la herramienta de base scoreada cuando fuera necesario, y devolver una respuesta clara, breve y en español neutro, sin usar fórmulas de lenguaje inclusivo (por ejemplo, usar 'el equipo' en vez de 'los/las integrantes').\n\nREGLAS Y ESCALAMIENTO\n- Nunca inventes datos de candidatos, vacantes o métricas: si la herramienta no te da la información, decilo explícitamente en vez de completar con una suposición.\n- Si el pedido es ambiguo o no tenés una herramienta que lo resuelva, no improvises: pedí una aclaración o indicá que se debe escalar a una persona del equipo de RRHH.\n- Ante solicitudes que no guardan relación con la consultade la herramienta de la nbase scoreada explicá que no tenes permitido responder y no estas formado para responder eso\n- Sé breve: respuestas de pocas líneas, sin relleno.",
          "maxIterations": 7,
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -704,
        112
      ],
      "id": "d7a33e0f-3b5d-4f5a-b957-744d90abcb7c",
      "name": "Agente Jefe equipo Selección"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Usá esta herramienta cuando el equipo de RRHH pregunte información sobre candidatos que pasaron el proceso  de screening. Tu lectura debe centrarse entre las columnas A y hasta la P inclusive.\nEjemplos de pedidos que activan esta herramienta: \n¿cuántos candidatos con score alto están pendientes de entrevista para cajero?, ¿hay candidatos buenos esperando para vendedor?, decime cuantos son los pendientes con buen puntaje de la vacante de Jefe de Logística, pasame los dos candidatos con el mejor score para la búsqueda de Representante Comercial. La herramienta devuelve las filas de candidatos con la columna Status candidato para indicar su status dentro del proceso, esta pouede ser rechazado, pendiente de entrevista, contratado, en proceso o back-up. Los candidatos en bak-up significa que fueron seleccionado como potenciales candidatos futuro. Usa la columna Prioridad para definir el nivel de score (alta, media, baja). Si te piden un candidato especifico o determiandos, podes mandarle el enlace al Cv",
        "documentId": {
          "__rl": true,
          "value": "1br8GR93V8Fz5EXezwk36RmoYsGy5mIqtOltAWovVV64",
          "mode": "list",
          "cachedResultName": "Screening - Grupo Dilfer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1br8GR93V8Fz5EXezwk36RmoYsGy5mIqtOltAWovVV64/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 819111293,
          "mode": "list",
          "cachedResultName": "Basescoreada",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1br8GR93V8Fz5EXezwk36RmoYsGy5mIqtOltAWovVV64/edit#gid=819111293"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -560,
        400
      ],
      "id": "75e1bc41-41fa-4807-a269-79a118bf7fea",
      "name": "Consultar Base Scoreada",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oNEdHEPhL0sVKys7",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Recibe pedido RRHH": {
      "main": [
        [
          {
            "node": "Agente Jefe equipo Selección",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Jefe equipo Selección",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente Jefe equipo Selección": {
      "main": [
        [
          {
            "node": "Log de Observabilidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Base Scoreada": {
      "ai_tool": [
        [
          {
            "node": "Agente Jefe equipo Selección",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "42ff0a29-e809-4a40-a64d-82a17cab9f36",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "008b4aa93e8f52bbae35a2e52622117c3194cf577b07b7dd83ff65758b828555"
  },
  "nodeGroups": [],
  "id": "xx0OwjOIc1v05hu4",
  "tags": []
}